.tip{
	margin-top: 1rem;
	margin-left:1.75rem;
	margin-bottom: 0.25rem;
}
.bigimg-container{
     height: 19.0625rem;
     background: #ffffff;
     text-align: center;
}
 .recharge-img{
     height: 13.375rem;
     width: 27rem;
     margin: 0 auto;
     margin-top: 3.9375rem;
}
.recharge-container1{
	width: 63%;
	height: 9.5rem;
	position: relative;
}
.recharge-container2{
	width: 37%;
	height: 9.5rem;
	text-align: center;
}
.content1{
	height: 1.5625rem;
	font-size:1.125rem;
	line-height: 1.5625rem;
	color: #777777;
	position: absolute;
	top: 2.5rem;
	left:1.75rem;
}
.content2{
	height: 1.5625rem;
	font-size:1.125rem;
	line-height: 1.5625rem;
	color: #777777;
	position: absolute;
	top: 5.3rem;
	left:1.75rem;
}
.content-img{
     height: 1.5625rem;
     width: 1.5625rem;
     margin-right: 0.9rem;
}
.big-text{
    font-size: 1.875rem;
    color: #777777;
}
.recharge-container3{
     text-align: center;
     margin-top:2rem;
}
.fooet-des{
	text-align: center;
	margin-bottom: 0;
}
