
.header{
     height: 7.5rem;
     background-color: #f15a24;
     padding:0.75rem 1.6875rem;
}
.header .header_img{
     height: 5.3125rem;
     width: 5.3125rem;
     margin-top: 0.4rem
}
.header .header-message{
     color: #fff;
     margin-left: 0.9375rem;
}
 .header .hedaer-message span{
     display: inherit;
}
 .header .header-message .user-name{
     font-size: 1.5rem;
}
 .header .header-message .user-account{
     font-size: 1.25rem;
     margin-top: 0.3rem;
}
.red-dot{
     height: 0.5rem;
     width: 0.5rem;
     margin-top: 1.2rem;
}
.header .user-edit{
     height: 2.5rem;
     width: 2.5rem;
}
.header .user-edit{
	margin-top: 1.9rem
}
.my-nav{
     height: 6.25rem;
}
 .bottom-img{
     height: 2.5rem;
     width: 2.5rem;
}
 .bottom-text{
     margin-top: 0.4rem;
     font-size: 1.25rem;
     color:#777777 
}
.my-footer{
     margin-top: 1.2rem;
}


 
 
