.headr-div{
     height: 9.375rem;
     background-color: #f15a24;
     padding-top: 1.5625rem;
}
 .yuan{
     color: #ffffff;
     font-size: 1.6rem;
     position: absolute;
    left: -1.25rem;
    top:1.5rem;
}
 .big-text-white{
     color: #ffffff;
     font-size: 4rem;
}
.money{
	position: relative;
 }
.img1{
	width: 1.3542rem;
	height: 1.3542rem;
}
.big-div{
	height: 19.6875rem;
	background: #fff;
}
.recharge-ul{
height: 15.5625rem;
margin-top: 0;
padding-left:0.71875rem;
padding-right: 0.71875rem;
margin-bottom: 0rem;
}
.recharge-block{
	list-style: none;
    height: 5.625rem;
    padding: 0;
   	margin-top: 1.4375rem;
}
.money-block{
	 height: 5.625rem;
	border: 2px solid #000;
     border-color: #f15a24;
     border-radius: 0.3125rem;
     text-align: center;
     margin-left: 0.71875rem;
     margin-right: 0.71875rem;
 }
 .money-block-on{
	 height: 5.625rem;
	 border: 2px solid #000;
     border-color: #f15a24;
     border-radius: 0.3125rem;
     background: #f15a24;
     text-align: center;
     margin-left: 0.71875rem;
     margin-right: 0.71875rem;
 }
.recharge-block_title{
    background: #f15a24;
}
.recharge-block_title-hidden{
    background: #f15a24;
    visibility: hidden;
}
.recharge-block-text{
    margin: 0;
}
.payway-div{
    background: #ffffff;
    height: 8rem;
    padding: 1.4375rem;
}
.img-logo{
    height: 1.5625rem ;
    width: 1.5625rem ;
}