.container{
     text-align: center;
     margin-top:4.5rem;
}
.img-getin{
     height: 1.9375rem;
     width: 1.0625rem;
     margin-top: 1rem;
}
.about-footer{
	text-align: center;
	margin-top: 2rem;
}
 