.borad-heighwithimg{
     height: 6.25rem;
     line-height: 6.25rem;
     list-style: none;
     padding-right: 1.75rem;
     padding-left: 1.75rem;
     vertical-align: middle;
}
.header-img{
     height: 4.6875rem;
     width: 4.6875rem;
     margin-top: 0.8125rem;
}

.img-right{
     height: 1.5625rem;
     width: 1.5625rem;
     margin-left: 0.625rem;
}
.text-important{
	font-size: 1.4375rem;
    color: #f15a24;
}